In [31]:
import pandas as pd

data= pd.read_csv('SOLUSDT_OUTCOME_FIVE2025_15m.csv')

filter_data = data[(data['entry_time'] >= '03:00:00') & (data['entry_time'] <= '24:00:00')]

total_pnl = filter_data['pnl'].sum()
total_positive = (filter_data['pnl'] > 0).sum()
total_negative = (filter_data['pnl'] < 0).sum()

print("Total PnL:", total_pnl)
print("Total Positive Trades:", total_positive)
print("Total Negative Trades:", total_negative)

filter_data

Total PnL: 2653.3109432869687
Total Positive Trades: 77
Total Negative Trades: 182

,Unnamed: 0,trade_number,entry_type,entry_price,entry_date,entry_time,exit_type,exit_price,exit_date,exit_time,size,pnl,pnl_percentage
0,0,1,BUY,190.43,2025-01-01,11:15:00,SELL,190.04,2025-01-01,14:45:00,49.887098,-19.455968,-0.204800
1,1,2,BUY,190.79,2025-01-01,15:00:00,SELL,189.62,2025-01-01,17:15:00,49.604179,-58.036890,-0.613240
2,2,3,BUY,191.79,2025-01-01,18:45:00,SELL,205.96,2025-01-02,15:45:00,48.959457,693.755505,7.388289
3,3,4,BUY,208.19,2025-01-02,16:30:00,SELL,205.82,2025-01-02,17:45:00,48.181909,-114.191124,-1.138383
4,4,5,BUY,207.66,2025-01-02,20:30:00,SELL,206.49,2025-01-02,21:15:00,47.691224,-55.798733,-0.563421
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,300,301,BUY,174.63,2025-05-27,06:15:00,SELL,176.86,2025-05-27,21:30:00,41.829003,93.278678,1.276986
301,301,302,BUY,174.42,2025-05-28,12:15:00,SELL,173.30,2025-05-28,13:45:00,42.304915,-47.381504,-0.642128
302,302,303,BUY,171.43,2025-05-28,22:00:00,SELL,171.63,2025-05-29,05:15:00,42.698665,8.539733,0.116666
303,303,304,BUY,172.98,2025-05-29,09:00:00,SELL,172.03,2025-05-29,10:30:00,42.284981,-40.170732,-0.549196
304,304,305,BUY,173.20,2025-05-29,11:30:00,SELL,171.56,2025-05-29,12:45:00,41.930915,-68.766701,-0.946882